<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="3.css">
</head>
<body>

<header>
    <h1>recuperar senha</h1>
    <nav>
        <a href="#">HomePage</a>
        <a href="#">Agendamentos</a>
        <a href="#">Comunidade</a>
        <a href="#">Importância</a>
    </nav>
</header>

<div class="container">
    <div>
        <img class="logo" src="logo3.png" alt="Logo Code Crafters" >
    </div>
    <p>Insira o seu e-mail cadastrado para enviarmos a sua troca de senha:</p>

    <div class="input-group">
        <input type="email" placeholder="Endereço de e-mail" required>
        <input type="email" placeholder="Confirme seu e-mail" required>
    </div>

    <button>Enviar</button>
</div>

<footer>
    <p>CODE CRAFTERS ©</p>
</footer>

</body>
</html>
