<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens e Reclamações</title>
    <link rel="stylesheet" href="4.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="logo" src="logo2.png" alt="Logo Code Crafters" >
            <ul class="menu">
                <li><a href="#">HomePage</a></li>
                <li><a href="#">Agendamentos</a></li>
                <li><a href="#">Comunidade</a></li>
                <li><a href="#">Importância</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="post-section">
            <h1>Postagens e Reclamações</h1>
            <article class="post">
                <h2>Lixo jogado na rodovia</h2>
                <p><strong>Nome de Usuário:</strong> Celso Giusti &nbsp;&nbsp; <strong>Local:</strong> Salto-SP</p>
                <p><strong>Data de Postagem:</strong> 24/10/2023</p>
                <p class="alert">🚨 <strong>Atenção, pessoal!</strong> 🚨</p>
                <p>Passando pela Rodovia BR-XYZ agora e me deparei com uma grande quantidade de lixo jogado na pista! 😡
                    Tem de tudo: móveis velhos, plásticos, papel, e até restos de construção. Isso está causando um grande risco para os motoristas e também poluindo a área.
                    É muito importante que o pessoal que passa por aqui tenha cuidado, mas, principalmente, que as autoridades tomem uma providência urgente para resolver isso! Vamos cuidar mais do nosso ambiente e das nossas estradas, pessoal! 🙏
                    Alguém mais viu isso por aqui? Vamos denunciar para que o problema seja resolvido o quanto antes! #LixoNaRodovia #CuidarDaEstrada #Denúncia</p>
                <div class="image-container">
                    <img src="lixo.png" alt="Imagem de lixo na rodovia">
                </div>
                <div class="post-actions">
                    <button class="like-btn">✔</button>
                    <button class="delete-btn">🗑</button>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>CODE CRAFTERS ©</p>
    </footer>
    
</body>
</html>
