<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="CSS/adm.css">
</head>
<body>
    <div class="sistema-grid">
        <!-- Cabeçalho -->
        <header>
            <div class="menu-container">
                <div class="menu-texto">
                <h1>ADMINISTRADOR</h1>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">HOMEPAGE</a></li>
                        <li><a href="#">AGENDAMENTOS</a></li>
                        <li><a href="#">COMUNIDADE</a></li>
                        <li><a href="#">IMPORTÂNCIA</a></li>
                    </ul>
                </nav>
                <div class="menu-imagens-direita">
                    <img src="midia/user.png" alt="Símbolo user">
                </div>
        </header>        

                <!-- Corpo -->
        <main>
            <div class="container">
                <img src="midia/logo.png" alt="Logo Code Crafters">
                <h1>Insira sua senha para acessar uma página privada:</h1>
                <br>
                <form action="#" method="POST">
                    <input type="password" placeholder="Senha" required>
                    <input type="password" placeholder="Confirme sua senha" required>
                    <br>  
                    <button type="submit">ENTRAR</button>
                </form>
                <br>
                <br>
            </div>
        </main>
            </div>

            <!-- Rodapé -->
        <footer>
            <p>CODE CRAFTERS ©</p>
        </footer>
    
    </div>
</body>
</html>