<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Administrador</title> 
    <link rel="stylesheet" href="CSS/adm.css"> 
</head>
<body>
    <div class="sistema-grid"> <!-- Container principal da página com grid layout -->
        <!-- Cabeçalho -->
        <header> <!-- Cria o cabeçalho da página -->
            <div class="menu-container"> <!-- Agrupa os elementos do menu no cabeçalho -->
                <div class="menu-texto">
                    <h1>ADMINISTRADOR</h1> <!-- Título principal do cabeçalho -->
                </div>
                <nav> <!-- Navegação -->
                    <ul class="menu"> <!-- Lista de links do menu -->
                        <li><a href="HOMEPAGE.html">HOMEPAGE</a></li> 
                        <li><a href="agendamentos.html">AGENDAMENTOS</a></li> 
                        <li><a href="comunidade1.html">COMUNIDADE</a></li> 
                        <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li> 
                <div class="menu-imagens-direita"> <!-- Contêiner para imagens no lado direito -->
                    <img src="media/user.png" alt="Símbolo user"> <!-- Ícone de usuário -->
                </div>
            </div>
        </header>        

        <!-- Corpo -->
        <main> <!-- Parte central da página -->
            <br>
            <div class="container"> <!-- Conteúdo -->
                <img src="media/logo.png" alt="Logo Code Crafters"> <!-- Logo da empresa -->
                <h1>Insira sua senha para acessar uma página privada:</h1> <!-- Instrução para o usuário -->
                <br>
                <form action="cadastrousuarioADM.html" method="POST"> <!-- Formulário para entrada de senha -->
                    <input type="password" placeholder="Senha" required> <!-- Campo para inserir a senha -->
                    <input type="password" placeholder="Confirme sua senha" required> <!-- Campo para confirmar a senha -->
                    <br>  
                    <button type="submit">ENTRAR</button> <!-- Botão para entrar como administrador -->
                </form>
                <br>
                <br>
            </div>
        </main>

        <!-- Rodapé -->
        <footer> <!-- Área inferior da página-->
            <p>CODE CRAFTERS ©</p> <!-- Texto no rodapé -->
        </footer>
    </div>
</body>
</html>
