<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário com Agendamentos</title>
    <link rel="stylesheet" href="css/agendamentos.css">
    <!-- Cabeçalho -->
    <div class="sistema-grid">
    <header>
      <div class="logo">
          <img src="media/_logo_codecrafters_redimensionada.png" alt="Logo da Empresa" id="logo">
      <div class="menu-container">
            <nav>
                <ul class="menu">
                    <li><a href="HOMEPAGE.html">HOMEPAGE</a></li>
                    <li><a href="agendamentos.html">AGENDAMENTOS</a></li>
                    <li><a href="comunidade1.html">COMUNIDADE</a></li>
                    <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <a href="editaruser.html"><img src="media/user.png" alt="Símbolo user"></a>
            </div>
    </header>
<div class="container">
        <div class="calendario">
            <img src="media/calendario_img_redimensionada.png" alt="calendario">
    </div>
        <section class="borda_branca">
            <div class="text-agendamentos">
                <h1>Agende um dia para trazer seus produtos em nossa empresa.
                    Em troca de:</h1>
              <p>clique aqui para acessar!</p>
             <!-- Botão "PREMIAÇÕES" -->
             <div class="button_premiacao a">
                <a href="premiacao.html">PREMIAÇÕES</a> <!-- Link para Premiações. -->
              </div>
            </div>
        </section>
        <!-- Rodapé -->
  <footer class="footer">
    <div class="rodape">
      <p>CODE CRAFTERS ©</p>
    </div>
  </footer>
</body>
</html>