<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário com Agendamentos</title>
    <link rel="stylesheet" href="css/agendamentos.css">
    <!-- Cabeçalho -->
    <div class="sistema-grid">
    <header>
      <div class="logo">
          <img src="media/_logo_codecrafters_redimensionada.png" alt="Logo da Empresa" id="logo">
      <div class="menu-container">
            <nav>
                <ul class="menu">
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#">AGENDAMENTOS</a></li>
                    <li><a href="#">COMUNIDADE</a></li>
                    <li><a href="#">IMPORTÂNCIA</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <img src="media/user.png" alt="Símbolo user">
            </div>
    </header>
<div class="container">
        <div class="calendario_agenda">
            Dezembro 2024
        </div>
        <div class="calendario">
            <div class="dias_semana">Dom</div>
            <div class="dias_semana">Seg</div>
            <div class="dias_semana">Ter</div>
            <div class="dias_semana">Qua</div>
            <div class="dias_semana">Qui</div>
            <div class="dias_semana">Sex</div>
            <div class="dias_semana">Sáb</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>18</div>
            <div>19</div>
            <div>20</div>
            <div>21</div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
            <div>25</div>
            <div>26</div>
            <div>27</div>
            <div>28</div>
            <div>29</div>
            <div>30</div>
            <div>31</div>
    </div>
        <section class="container">
            <div class="text-agendamentos">
                <h1>Agende um dia para trazer seus produtos em nossa empresa.
                    Em troca de:</h1>
              <p>clique aqui para acessar!</p>
                <div class="button_premiacao">
                Premiações
                </div>
            </div>
        </section>
        <!-- Rodapé -->
  <footer class="footer">
    <div class="container">
      <p>Code Crafters &copy; </p>
    </div>
  </footer>
</body>
</html>