<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="CSS/cadastro.css">
</head>
<body>
    <div class="sistema-grid">

        <!-- Cabeçalho -->
        <header>
            <div class="menu-container">
                <div class="menu-texto">
                <h1>CADASTRO</h1>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="HOMEPAGE.html">HOMEPAGE</a></li>
                        <li><a href="#">AGENDAMENTOS</a></li>
                        <li><a href="comunidade1.html">COMUNIDADE</a></li>
                        <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li>
                    </ul>
                </nav>
                <div class="menu-imagens-direita">
                    <img src="media/user.png" alt="Símbolo user">
                </div>
            </div>
        </header>

        <!-- Corpo -->
        <main>
            <div class="container">
                <img src="media/logo.png" alt="Logo Code Crafters">
                <h1>Seja bem-vindo!</h1>
                <form action="#" method="POST">
                    <input type="text" name="nome" placeholder="Nome completo" required>
                    <input type="email" name="email" placeholder="Endereço de e-mail" required>
                    <input type="text" name="cpf" placeholder="CPF" required>
                    <input type="text" name="cep" placeholder="CEP" required>
                    <input type="password" name="senha" placeholder="Crie sua senha" required>
                    <input type="password" name="confirma-senha" placeholder="Confirme sua senha" required>
                    <button type="submit">CONCLUIR</button>
                </form>
                <p>Já é cadastrado? <a href="login.html">Clique aqui.</a></p>
                <br>
            </div>
        </main>

        <br>

        <!-- Rodapé -->
        <br>
        <footer>
            <p>CODE CRAFTERS ©</p>
        </footer>

    </div>
    
</body>
</html>