<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Cadastro</title> 
    <link rel="stylesheet" href="CSS/cadastro.css"> 
</head>
<body>
    <div class="sistema-grid"> <!-- Contêiner principal da página -->

        <!-- Cabeçalho -->
        <header> <!-- Cria o cabeçalho da página-->
            <div class="menu-container"> <!-- Agrupa os elementos do Menu-->
                <div class="menu-texto"> 
                    <h1>CADASTRO</h1> <!-- Título principal do cabeçalho -->
                </div>
                <nav> <!-- Navegação -->
                    <ul class="menu"> <!-- Botões do cabeçalho com vínculo em outras páginas-->
                        <li><a href="HOMEPAGE.html">HOMEPAGE</a></li> 
                        <li><a href="#">AGENDAMENTOS</a></li> 
                        <li><a href="comunidade1.html">COMUNIDADE</a></li> 
                        <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li> 
                    </ul>
                </nav>
                <div class="menu-imagens-direita"> <!-- Imagem do user-->
                    <img src="media/user.png" alt="Símbolo user">
                </div>
            </div>
        </header>

        <!-- Corpo -->
        <main> <!-- Parte central da página -->
            <div class="container"> <!-- Conteúdo -->
                <img src="media/logo.png" alt="Logo Code Crafters"> <!-- Logo da empresa -->
                <h1>Seja bem-vindo!</h1> <!-- Saudação -->
                <p>Você é um administrador? <a href="adm.html">Clique aqui.</a></p> <!-- Link para a página de administrador -->
                <form action="#" method="POST"> <!-- Formulário de cadastro -->
                    <!-- Campos do formulário -->
                    <input type="text" name="nome" placeholder="Nome completo" required> <!-- Campo para o nome -->
                    <input type="email" name="email" placeholder="Endereço de e-mail" required> <!-- Campo para o e-mail -->
                    <input type="text" name="cpf" placeholder="CPF" required> <!-- Campo para o CPF -->
                    <input type="text" name="cep" placeholder="CEP" required> <!-- Campo para o CEP -->
                    <input type="password" name="senha" placeholder="Crie sua senha" required> <!-- Campo para criar senha -->
                    <input type="password" name="confirma-senha" placeholder="Confirme sua senha" required> <!-- Campo para confirmar senha -->
                    <button type="submit">CONCLUIR</button> <!-- Botão para confirmar cadastro-->
                </form>
                <p>Já é cadastrado? <a href="login.html">Clique aqui.</a></p> <!-- Link para a página de login -->
                <br> 
            </div>
        </main>

        <br> 
        
        <!-- Rodapé -->
        <footer> <!-- Área inferior da página-->
            <p>CODE CRAFTERS ©</p> <!-- Texto do rodapé -->
        </footer>

    </div>
</body>
</html>
