<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens e Denúncias</title>
    <link rel="shortcut icon" href="logo_codecrafters_colorida.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/comunidade1.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
        </div>
        <div class="botoes">
            <button class="btn">HomePage</button>
            <button class="btn">Agendamentos</button>
            <button class="btn">Comunidade</button>
            <button class="btn">Importância</button>
        </div>
            <div class="user"> 
                <img src="media/user_botao.png" alt="Botão cadastro">
            </div> 
        </button> 
    </header>
    <main>
        <section>
            <article>
                <h1> Comunidade </h1>
            </article>
            <article> 
                <div class="bloco">
                    <div class="titulo">
                        <h3> Lixo encontrado na rodovia </h3>
                    </div>
                    <div class="perfil_img">
                        <img src="media/imagemperfiluser.png" alt="Imagem de perfil">
                    </div>
                    <div class="dados">
                        <p>Nome de Usuário: Celso Giusti  Local: Salto-SP
                            Data de Postagem: 24/10/2023</p>
                    </div>
                    <div class="texto">
                    <p> 🚨 Atenção, pessoal! 🚨
                        Passando pela Rodovia BR-XYZ agora e me deparei com uma grande quantidade de lixo jogado na pista! 😡
                        Isso está causando um grande risco para os motoristas e também poluindo a área.
                        É muito importante que o pessoal que passa por aqui tenha cuidado, mas, principalmente, que as autoridades tomem uma providência urgente para resolver isso! Vamos cuidar mais do nosso ambiente e das nossas estradas, pessoal! 🙏
                        Alguém mais viu isso por aqui? Vamos denunciar para que o problema seja resolvido o quanto antes!</p>
                    </div>
                    <div class="imagem">
                        <img src="media/imagem_lixorodovia_redimensionada.png" alt="Foto compartilhada pelo usuário">
                    </div>
                    <div class="icone_coracao">
                        <img src="media/icone_coracao_redimensionada.png" alt="Curtida">
                    </div>
                        <div class="botao_postagem p">
                            <p> Publique você também! </p>
                        </div>
                        <button class="seta">
                            <a href="comunidade2.html">
                                <img src="media/seta_direita.png" alt="Seta">
                            </a>
                        </button>
                </div>

            </article>
    </main>
    <footer> 
        <div class="rodape"> </div>
        <p>CODECRAFTERS©</p>
    </footer>
</body>
</html>