<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens e Denúncias</title>
    <link rel="shortcut icon" href="logo_codecrafters_colorida.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/comunidade2.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
        </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#">AGENDAMENTOS</a></li>
                    <li><a href="#">COMUNIDADE</a></li>
                    <li><a href="#">IMPORTÂNCIA</a></li>
                </ul>
            </nav>
                <div class="menu-imagens-direita">
                    <img src="media/user.png" alt="Símbolo user">
                </div>
            </div>
        </header>
    <main>
        <section>
            <article>
                <h1> Comunidade </h1>
            </article>
            <article> 
                <div class="bloco">
                    <div class="titulo">
                        <h3> Coleta seletiva </h3>
                    </div>
                    <div class="perfil_img">
                        <img src="media/imagemperfil2_redimensionada.png" alt="Imagem de perfil">
                    </div>
                    <div class="dados">
                        <p>Nome de Usuário: Gabriella Teixeira  Local: Salto-SP
                            Data de Postagem: 13/05/2023</p>
                    </div>
                    <div class="texto">
                    <p> 🌱🌍 Uma ótima notícia para nossa cidade! 🌍🌱
                        Estou super feliz em compartilhar com vocês que a coleta seletiva começará a partir de agora em nossa cidade! 🗑️✨ E o melhor de tudo é que, agora, podemos agendar a coleta diretamente pelo site! 🌐 <a href="https://br.pinterest.com/" rel="next">
                            Esse é o link para realizar o agendamento.
                            </a> </p>
                    <p> Essa é uma iniciativa que vai fazer toda a diferença para o nosso meio ambiente. Com a coleta seletiva, vamos conseguir separar melhor os resíduos recicláveis, contribuir para a redução do desperdício e, claro, ajudar a preservar nosso planeta. 🌳💚
                    Fiquei muito animado com essa mudança e já agendei minha coleta! Vamos juntos fazer nossa parte, galera. 💪
                    Para agendar, basta acessar o site e seguir os passos. Não tem erro! Vamos aproveitar essa oportunidade para cuidar do nosso futuro. 🌎</p>
                    </div>
                    <div class="icone_coracao">
                        <img src="media/icone_coracao_redimensionada.png" alt="Curtida">
                    </div>
                        <div class="botao_postagem p">
                            <p> Publique você também! </p>
                        </div>
                
                <button class="seta">
                    <a href="comunidade1.html">
                        <img src="media/seta_esquerda.png" alt="Seta">
                    </a>
                </button>
            </div>
            </article>
    </main>
    <footer> 
        <p1>CODECRAFTERS©</p1>
    </footer>
</body>
</html>