<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens e Denúncias</title>
    <link rel="stylesheet" href="CSS/comunidade1.css">
</head>
<body>
    <header> <!-- Início do cabeçalho da página -->
        <div class="logo"> <!-- Container para a logo -->
            <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
        </div>
        <nav> <!-- Início da navegação principal -->
            <ul class="menu"> <!-- Lista de navegação -->
                <li><a href="HOMEPAGE.html">HOMEPAGE</a></li> <!-- Item de menu que leva para a homepage -->
                <li><a href="agendamentos.html">AGENDAMENTOS</a></li> <!-- Item de menu para agendamentos -->
                <li><a href="#">COMUNIDADE</a></li> <!-- Item de menu para a seção de comunidade -->
                <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li> <!-- Item de menu para informações sobre a importância -->
            </ul>
        </nav> <!-- Fim da navegação -->
        <div class="menu-imagens-direita"> <!-- Container para a imagem de login/cadastro-->
            <a href="editaruser.html">
            <img src="media/user.png" alt="Símbolo user">
            </a>
        </div>
    </header> 
    <main> <!-- Início do conteúdo principal -->
        <section>
            <article>
                <h1>Comunidade</h1> <!-- Título principal do artigo -->
            </article>
            <article>
                <div class="bloco"> <!-- Início de um bloco de conteúdo -->
                    <div class="titulo"> <!-- Container para o título da postagem -->
                        <h3>Lixo encontrado na rodovia</h3> <!-- Título da postagem -->
                    </div>
                    <div class="perfil_img"> <!-- Container para a imagem de perfil do usuário -->
                        <img src="media/imagemperfiluser.png" alt="Imagem de perfil"> 
                    </div>
                    <div class="dados"> <!-- Container para os dados da postagem -->
                        <p>Nome de Usuário: Celso Giusti  Local: Salto-SP Data de Postagem: 24/10/2023</p> 
                    </div>
                    <div class="texto"> <!-- Container para o texto da postagem -->
                        <p> 🚨 Atenção, pessoal! 🚨 Passando pela Rodovia BR-XYZ agora e me deparei com uma grande quantidade de lixo jogado na pista! 😡 Isso está causando um grande risco para os motoristas e também poluindo a área. É muito importante que o pessoal que passa por aqui tenha cuidado, mas, principalmente, que as autoridades tomem uma providência urgente para resolver isso! Vamos cuidar mais do nosso ambiente e das nossas estradas, pessoal! 🙏 Alguém mais viu isso por aqui? Vamos denunciar para que o problema seja resolvido o quanto antes!</p> 
                    </div>
                    <div class="imagem"> <!-- Container para a imagem associada à postagem -->
                        <img src="media/imagem_lixorodovia_redimensionada.png" alt="Foto compartilhada pelo usuário"> 
                    </div>
                    <div class="icone_coracao"> <!-- Container para o ícone de curtida -->
                        <img src="media/icone_coracao_redimensionada.png" alt="Curtida"> 
                    </div>

                    <div class="botao_postagem"> <!-- Container para o botão de postagem -->
                        <a href="denuncia_postagem.html">
                        <p>Publique você também!</p> 
                        </a>
                    </div>
                    <button class="seta"> <!-- Botão com uma seta para direcionar para outra página -->
                        <a href="comunidade2.html"> <!-- Link para a página 'comunidade2.html' -->
                            <img src="media/seta_direita.png" alt="Seta"> 
                        </a>
                    </button>
                </div> 
            </article> 
        </section> 
    </main>
    <footer> 
        <div class="rodape"> <!-- Container para o rodapé -->
            <p>CODECRAFTERS©</p> 
        </div>
    </footer> 
</body>
</html>