<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens e Denúncias</title>
    <link rel="stylesheet" href="CSS/comunidade2.css">
</head>
<body>
<header> <!-- Início do cabeçalho da página -->
    <div class="logo"> <!-- Container para a logo -->
        <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
    </div>
        <nav> <!-- Início da navegação principal -->
            <ul class="menu"> <!-- Lista de navegação -->
                <li><a href="HOMEPAGE.html">HOMEPAGE</a></li> <!-- Item de menu que leva para a homepage -->
                <li><a href="agendamentos.html">AGENDAMENTOS</a></li> <!-- Item de menu para agendamentos -->
                <li><a href="#">COMUNIDADE</a></li> <!-- Item de menu para a seção de comunidade -->
                <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li> <!-- Item de menu para informações sobre a importância -->
            </ul>
        </nav> <!-- Fim da navegação -->
        <div class="menu-imagens-direita"> <!-- Container para a imagem de login/cadastro-->
            <a href="editaruser.html">
            <img src="media/user.png" alt="Símbolo user">
            </a>
        </div>
</header> 
<main> <!-- Início do conteúdo principal -->
    <section>
        <article>
            <h1> Comunidade </h1>  <!-- Título principal do artigo -->
        </article>
        <article> 
            <div class="bloco"> <!-- Início de um bloco de conteúdo -->
                <div class="titulo">  <!-- Container para o título da postagem -->
                    <h3> Coleta seletiva </h3> <!-- Título da postagem -->
                </div>
                    <div class="perfil_img"> <!-- Container para a imagem de perfil do usuário -->
                        <img src="media/imagemperfil2_redimensionada.png" alt="Imagem de perfil">
                    </div>
                    <div class="dados"> <!-- Container para os dados da postagem -->
                        <p>Nome de Usuário: Gabriella Teixeira  Local: Salto-SP
                            Data de Postagem: 13/05/2023</p>
                    </div>
                    <div class="texto"> <!-- Container para o texto da postagem -->
                    <p> 🌱🌍 Uma ótima notícia para nossa cidade! 🌍🌱
                        Estou super feliz em compartilhar com vocês que a coleta seletiva começará a partir de agora em nossa cidade! 🗑️✨ E o melhor de tudo é que, agora, podemos agendar a coleta diretamente pelo site! 🌐 <a href="agendamentos.html" rel="next"> <!-- Link para o usuário agendar a coleta -->
                            Esse é o link para realizar o agendamento.
                            </a> </p>
                    <p> Essa é uma iniciativa que vai fazer toda a diferença para o nosso meio ambiente. Com a coleta seletiva, vamos conseguir separar melhor os resíduos recicláveis, contribuir para a redução do desperdício e, claro, ajudar a preservar nosso planeta. 🌳💚
                    Fiquei muito animado com essa mudança e já agendei minha coleta! Vamos juntos fazer nossa parte, galera. 💪
                    Para agendar, basta acessar o site e seguir os passos. Não tem erro! Vamos aproveitar essa oportunidade para cuidar do nosso futuro. 🌎</p>
                    </div>
                    <div class="icone_coracao"> <!-- Container para o ícone de curtida -->
                        <img src="media/icone_coracao_redimensionada.png" alt="Curtida">
                    </div>
                        <div class="botao_postagem">
                            <a href="denuncia_postagem.html"><p> Publique você também! </p></a> <!-- Container para o botão de postagem -->
                        </div>
                <button class="seta">  <!-- Botão com uma seta para direcionar para outra página -->
                    <a href="comunidade1.html"> <!-- Link para voltar para a comunidade1.html -->
                        <img src="media/seta_esquerda.png" alt="Seta">
                    </a>
                </button>
            </div>
            </article>
    </main>
    <footer> 
        <div class="rodape"> <!-- Container para o rodapé -->
            <p>CODECRAFTERS©</p>
        </div>
    </footer>
</body>
</html>