<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denúncias</title>
    <link rel="shortcut icon" href="media/logo_codecrafters_colorida.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/postagem_denuncia.css">
</head>

<body>
<header>
    <div class="logo">
        <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
    </div>
        <nav>
            <ul class="menu">
                <li><a href="#">HOMEPAGE</a></li>
                <li><a href="#">AGENDAMENTOS</a></li>
                <li><a href="#">COMUNIDADE</a></li>
                <li><a href="#">IMPORTÂNCIA</a></li>
            </ul>
        </nav>
            <div class="menu-imagens-direita">
                <img src="media/user.png" alt="Símbolo user">
            </div>
        </div>
    </header>
<main>
    <section>
        <article>
            <h1> Denúncia </h1>
        </article>
        <article> 
            <div class="bloco">
                <input type="text" class="titulo_input" id="titulo" name="titulo" placeholder="Escreva seu título aqui">
                <input type="text" class="texto_input" id="titulo" name="titulo" placeholder="Escreva sua denúncia aqui">
                <div class="perfil_img">
                    <img src="media/perfilindefinido.png" alt="Imagem de perfil">
                </div>
                <div class="dados">
                    <p>Nome de Usuário: selecionar perfil  Local: cidade-estado
                        Data de Postagem: xx/xx/xxxx</p>
                </div>
                <div class="imagem">
                    <img src="media/imgpostagem.png" alt="Foto compartilhada pelo usuário">
                </div>
                <a href="#" class="botao" style="margin-left: 200px">
                    <p>Salvar</p>
                </a>
                <a href="#" class="botao" style="margin-left: 370px">
                    <p>Excluir</p>
                </a>
               </div>
        </article>
</main>
<footer> 
    <div class="rodape"> 
        <p>CODECRAFTERS©</p>
    </div>
</footer>
</body>
</html>