
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha uma Ação</title>
    <link rel="stylesheet" href="css/denuncia_postagem.css">
</head>
<body>
    <header>
        <img src="media/_logo_codecrafters_redimensionada.png" alt="Logo Code Crafters">
               <nav>
                <ul class="menu">
                    <li><a href="HOMEPAGE.html">HOMEPAGE</a></li> 
                        <li><a href="agendamentos.html">AGENDAMENTOS</a></li> 
                        <li><a href="comunidade1.html">COMUNIDADE</a></li> 
                        <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li> 
                </ul>
                </nav>
        </header>
            </header>
        </nav>
<div class="container">
    <h1>O que você deseja fazer?</h1>
    
    <div class="options">

        <!-- opção de Denúncia -->

        <div class="option">
            <div class="icon">🔍</div>
            <li><a href="denuncia.html">Denúncia</a></li> 

            <p>Torne público um problema relacionado a gestão de resíduos em seu município</p>
        </div>

        <!-- opção de Postagem -->

        <div class="option">
            <div class="icon">📋</div> 
            <li><a href="postagem.html">Postagem</a></li>             
            <p>Poste uma mudança ou contribuição que seu município faz com a gestão de resíduos</p>
        </div>
    </div>
</div>

<footer>
    <p>CODE CRAFTERS ©</p>
</footer>

</body>
</html>

