<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Usuário</title>
    <link rel="shortcut icon" href="logo_codecrafters_colorida.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/editaruser.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
        </div>
        <div class="botoes">
            <button class="btn">HomePage</button>
            <button class="btn">Agendamentos</button>
            <button class="btn">Comunidade</button>
            <button class="btn">Importância</button>
        </div>
            <div class="user"> 
                <img src="media/user_botao.png" alt="Botão cadastro">
            </div> 
    </header> 
    <main>
    <div class="container">
        <div class="perfil_img">
            <img src="media/imagemperfileditar.png" alt="Imagem de perfil">
        </div>
        <div class="dados">
            <ul> Perfil verificado? </ul>
            <ul type="disc" style="color:rgb(0, 0, 0)">
                <li> 
                    <img src="media/iconeverificado.png" alt="Perfil verificado">
                </li>
            </ul>
            <ul> <img src="media/iconeexcluir.png" alt="Excluir perfil"> Excluir perfil </ul>
        </div>
        <div class="input-container">
            <label for="nome">Nome Completo</label>
            <input type="text" id="nome" name="nome" placeholder="Alterar o nome">
          </div>
          <br>
          <div class="input-container">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Alterar a senha">
          </div>
          <div class="input-container">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" placeholder="Alterar CPF">
            <div class="input-container">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep" placeholder="Alterar CEP">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Alterar E-mail">
          </div>
    </div>
    </main>
    <footer> 
        <div class="rodape"> 
        <p>CODECRAFTERS©</p>
    </div>
    </footer>
</body>
</html>