<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Usuário</title>
    <link rel="shortcut icon" href="logo_codecrafters_colorida.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/editaruser.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
        </div>
        <div class="botoes">
            <button class="btn">HomePage</button>
            <button class="btn">Agendamentos</button>
            <button class="btn">Comunidade</button>
            <button class="btn">Importância</button>
        </div>
            <div class="user"> 
                <img src="media/user_botao.png" alt="Botão cadastro">
            </div> 
    </header> 
    <main>
    <div class="container">
        <div class="perfil_img">
            <img src="media/imagemperfileditar.png" alt="Imagem de perfil">
        </div>
        <div class="dados">
            <ul> Perfil verificado? </ul>
            <ul type="disc" style="color:rgb(0, 0, 0)">
                <li> 
                    <img src="media/iconeverificado.png" alt="Perfil verificado">
                </li>
            </ul>
            <ul> <img src="media/iconeexcluir.png" alt="Excluir perfil"> Excluir perfil </ul>
        </div>
        <form action="#" method="POST">
            <input type="text" name="nome" placeholder="Nome Completo" required>
            <
            <input type="text" name="senha" placeholder="Senha" required>
        </form>
    </div>
    </main>
    <footer> 
        <div class="rodape"> 
        <p>CODECRAFTERS©</p>
    </div>
    </footer>
</body>
</html>