<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>HomePage</title>
<body>
    <link rel="stylesheet" href="arquivo1.css">
  <!-- Cabeçalho -->
  <header class="header">
    <div class="container">
      <nav class="home">
        <a href="#home" class="logo">
            <img src="_logo_codecrafters_redimensionada.png" alt="Logo da Empresa" id="logo">
          </a>
        <ul>
          <a href="">HomePage</a>
          <a href="">Agendamentos</a>
          <a href="">Comunidade</a>
          <a href="">Importância</a>
          <button>CADASTRA-SE AQUI!</button>
          <button><img src="media/user_botao.png"></button>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Corpo (Conteúdo Principal) -->
  <main class="main">
    <section class="tituloCorpo">
      <div class="img"><img src="imagem- lixo2.jpg" alt="Informação" id="imagem"></div>
        <div class="text"><h3>Code Crafters</h3>
          <p>Somos uma empresa de Desenvolvimento de Sistemas focada na Gestão de Resíduos. Nossa empresa desempenha um papel crucial na sustentabilidade e na proteção do meio ambiente, criamos esse site com intuito dos clientes fazerem postagens e denúncias relacionadas à Gestão de Resíduos, e também trazerem sugestões para a melhora dessa situação.</p></div>
        <button>Leis</button>
        </div>
        </div>
    </section>
 </main>
  <!-- Rodapé -->
  <footer class="footer">
    <div class="container">
      <p>Code Crafters &copy; </p>
    </div>
  </footer>
</body>
</html>
