<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>HomePage</title>
<body>
    <link rel="stylesheet" href="css/homepage.css"> <!-- Link para o arquivo CSS. -->
  <!-- Cabeçalho -->
</head>
<body>
    <header> <!-- Início do cabeçalho da página -->
      <div class="logo"> <!-- Container para a logo -->
          <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
      </div>
          <nav> <!-- Início da navegação principal -->
              <ul class="menu"> <!-- Lista de navegação -->
                  <li><a href="HOMEPAGE.html">HOMEPAGE</a></li> <!-- Item de menu que leva para a homepage -->
                  <li><a href="agendamentos.html">AGENDAMENTOS</a></li> <!-- Item de menu para agendamentos -->
                  <li><a href="comunidade1.html">COMUNIDADE</a></li> <!-- Item de menu para a seção de comunidade -->
                  <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li> <!-- Item de menu para informações sobre a importância -->
                  <div class="button_cadastro">
                    <li><a href="cadastro.html">CADASTRA-SE AQUI!</a></li>  <!-- Link para cadastro. -->
                  </div>
              </ul>
          </nav> <!-- Fim da navegação -->
          <div class="menu-imagens-direita"> <!-- Container para a imagem de login/cadastro-->
              <a href="editaruser.html">
              <img src="media/user.png" alt="Símbolo user">
              </a>
          </div>
  </header> 
  
  <div class="sistema-grid">
  <!-- Corpo (Conteúdo Principal) -->
    <div class="container">
        <div class="img">
          <img src="media/imagem- lixo2.jpg" alt="Informação" id="imagem"> <!-- Imagem ilustrativa. -->
        </div>
  <!-- Texto explicativo à direita -->
          <div class="text">
            <h3>Code Crafters</h3>
            <p>Somos uma empresa de Desenvolvimento de Sistemas focada na Gestão de Resíduos. Nossa empresa desempenha um papel crucial na sustentabilidade e na proteção do meio ambiente, criamos esse site com intuito dos clientes fazerem postagens e denúncias relacionadas à Gestão de Resíduos, e também trazerem sugestões para a melhora dessa situação.</p>
          </div>
   <!-- Botão "LEIS" -->
            <div class="button_leis">
              <a href="leis.html">LEIS</a> <!-- Link para leis. -->
            </div>
    </div>
 
  <!-- Rodapé -->
  <footer class="footer">
    <div class="container">
      <p>CODE CRAFTERS ©</p>
    </div>
  </footer>
</body>
</html>
