<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Importância</title>
<body>
    <link rel="stylesheet" href="importancia.css">
    <!-- Cabeçalho -->
    <div class="sistema-grid">
    <header>
      <div class="logo">
          <img src="media/_logo_codecrafters_redimensionada.png" alt="Logo da Empresa" id="logo">
      <div class="menu-container">
            <nav>
                <ul class="menu">
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#">AGENDAMENTOS</a></li>
                    <li><a href="#">COMUNIDADE</a></li>
                    <li><a href="#">IMPORTÂNCIA</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <img src="media/user.png" alt="Símbolo user">
            </div>
        </div>
    </header>
  <!-- Corpo (Conteúdo Principal) -->
  <main class="main">
    <section class="borda-vermelha">
        <div class="text-importancia">
          <p>A gestão de resíduos é o processo de colher, transportar, tratar e descartar resíduos de forma segura e sustentável. Isso inclui ações como separação e reciclagem de materiais, compostagem, tratamento de resíduos perigosos, disposição adequada em aterros sanitários e conscientização da população sobre a importância desse processo para o meio ambiente e a saúde pública.
            A sustentabilidade é a capacidade se autossustentar. Uso dos recursos da natureza mantendo-os por um longo período sem se esgotar facilmente, mesmo com os imprevistos, gerando um saldo de recursos para as próximas gerações.
            Você sabia que existem empresas que compram os resíduos e lucram com o tratamento? Além de abrir novas oportunidades de negócio, a gestão de resíduos permite que sua empresa corte gastos e até se beneficie financeiramente da comercialização dos resíduos.</p>
            <ul type="disc" style="color:rgb(0, 0, 0)">  
            <li>Redução nos riscos de acidentes e contaminações;</li>
            <li>Ganhos em limpeza e higiene no ambiente de trabalho/cidade;</li>
            <li>Conservação de Recursos Naturais;</li>
            <li>Saúde Pública;</li>
            <li>Valorização de Resíduos: A transformação de resíduos em novos produtos pode gerar valor econômico e contribuir para a economia circular.</li> 
            </ul>
          </div>
    </section>
 </main>
  <!-- Rodapé -->
  <footer class="footer">
    <div class="container">
      <p>Code Crafters &copy; </p>
    </div>
  </footer>
</body>
</html>