<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>HomePage</title>
<body>
    <link rel="stylesheet" href="arquivo2.css">
  <!-- Cabeçalho -->
  <header class="header">
    <div class="container">
      <nav class="home">
        <a href="#home" class="logo">
            <img src="_logo_codecrafters_redimensionada.png" alt="Logo da Empresa" id="logo">
          </a>
        <ul>
          <a href="">HomePage</a>
          <a href="">Agendamentos</a>
          <a href="">Comunidade</a>
          <a href="">Importância</a>
          <button>
            <img src="media/user_botao.png">
          </button>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Corpo (Conteúdo Principal) -->
  <main class="main">
    <section class="tituloCorpo">
        <div class="text">
          <p>A gestão de resíduos é o processo de colher, transportar, tratar e descartar resíduos de forma segura e sustentável. Isso inclui ações como separação e reciclagem de materiais, compostagem, tratamento de resíduos perigosos, disposição adequada em aterros sanitários e conscientização da população sobre a importância desse processo para o meio ambiente e a saúde pública.
            A sustentabilidade é a capacidade se autossustentar. Uso dos recursos da natureza mantendo-os por um longo período sem se esgotar facilmente, mesmo com os imprevistos, gerando um saldo de recursos para as próximas gerações.
            Você sabia que existem empresas que compram os resíduos e lucram com o tratamento? Além de abrir novas oportunidades de negócio, a gestão de resíduos permite que sua empresa corte gastos e até se beneficie financeiramente da comercialização dos resíduos.
            Redução nos riscos de acidentes e contaminações;
            Ganhos em limpeza e higiene no ambiente de trabalho/cidade;
            Conservação de Recursos Naturais;
            Saúde Pública;
            Valorização de Resíduos: A transformação de resíduos em novos produtos pode gerar valor econômico e contribuir para a economia circular.</p></div>
        </div>
    </section>
 </main>
  <!-- Rodapé -->
  <footer class="footer">
    <div class="container">
      <p>Code Crafters &copy; </p>
    </div>
  </footer>
</body>
</html>