<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="CSS/login.css">
</head>
<body>
    <div class="sistema-grid">
        <!-- Cabeçalho -->
        <header>
            <div class="menu-container">
                <div class="menu-texto">
                <h1>LOGIN</h1>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="#">HOMEPAGE</a></li>
                        <li><a href="#">AGENDAMENTOS</a></li>
                        <li><a href="#">COMUNIDADE</a></li>
                        <li><a href="#">IMPORTÂNCIA</a></li>
                    </ul>
                </nav>
                <div class="menu-imagens-direita">
                    <img src="media/user.png" alt="Símbolo user">
                </div>
            </div>
        </header>
    

        <!-- Corpo -->
        <main>
            <div class="container">

                <div class="coluna-esquerda">
                    <img src="media/logo2.png" alt="Logo Code Crafters" class="logo">

                    <br>
                 
                    <h2>Que bom que você voltou!</h2>

                    <form action="#" method="post">
                        <input type="email" placeholder="Endereço de E-mail" required>
                        <input type="password" placeholder="Senha" required>
                        <a href="#" class="esqueceu-senha">Esqueceu sua senha?</a>
                        <br>
                        <button type="submit">ENTRAR</button>

                        <br>
                        <span>ou</span>
                        <br>

                        <div class="login-icones">
                            <a href="#"><img src="media/logoface.png" alt="Facebook"></a>
                            <a href="#"><img src="media/logogoogle.png" alt="Google"></a>
                            <a href="#"><img src="media/logoapple.png" alt="Apple"></a>
                        </div>
                    </form>
                </div>

                <div class="coluna-direita">
                    <img src="media/voluntarios.png" alt="voluntarios" class="Voluntários recolhendo resíduos">
                    </div>
                </div>                                                               
           
        </main>

         <!-- Rodapé -->
        <footer>
            <p>CODE CRAFTERS ©</p>
        </footer>
    </div>
</body>
</html>