<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premiações</title>
    <link rel="shortcut icon" href="media/logo_codecrafters_colorida.png" type="image/x-icon">
    <link rel="stylesheet" href="css/premiacao.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="media/logo_codecrafters_redimensionada.png" alt="Logo empresa CodeCrafters">
        </div>
            <nav>
                <ul class="menu">
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#">AGENDAMENTOS</a></li>
                    <li><a href="#">COMUNIDADE</a></li>
                    <li><a href="#">IMPORTÂNCIA</a></li>
                </ul>
            </nav>
                <div class="menu-imagens-direita">
                    <img src="media/user.png" alt="Símbolo user">
                </div>
            </div>
    </header>
    <main>
        <section>
            <article>
                <h1> Premiação </h1>
            </article>
            <article> 
                <div class="bloco">
                    <div class="perfil_img">
                        <img src="media/imagemperfiluser.png" alt="Imagem de perfil">
                    </div>
                    <h3> Celso Giusti </h3>
                    <h2> Agendamentos </h2>
                    <div class="relogio">
                        <img src="media/iconerelogio.png" alt="Símbolo pendente">
                    </div>
                    <div class="coluna1">
                        <br>
                        <p> 29/12/2024;
                            Pendente </p>
                        <br>
                        <p> 27/11/2024;
                            Concluído
                        </p>
                        <br>
                        <p> 20/10/2024;
                            Concluído
                        </p>
                    </div>
                    <div class="coluna2">
                        <br>
                        <p> 23/09/2024;
                            Concluído </p>
                        <br>
                        <p> 19/08/2024;
                            Concluído
                        </p>
                        <br>
                        <p> 27/07/2024;
                            Concluído
                        </p>
                    </div>
                    <div class="coluna2">
                        <br>
                        <p> 23/09/2024;
                            Concluído </p>
                        <br>
                        <p> 19/08/2024;
                            Concluído
                        </p>
                        <br>
                        <p> 27/07/2024;
                            Concluído
                        </p>
                    </div>
                    <h4 style="margin-left: 80px;"> Recolha seus pontos! </h4>
                    <div class="coluna3">
                        <h5> CUPOM: </h5>
                        <p> 20% de desconto em um combo
                            Burger King mais perto de sua 
                            cidade </p>
                        <br>
                        <h5> CUPOM: </h5>
                        <p> LEVE 2 PAGUE 1 no Açaí da Barra
                        </p>
                    </div>
                    <div class="qrcode1">
                        <img src="media/qrcode.png" alt="QRCode">
                    </div>
                    <div class="qrcode2">
                        <img src="media/qrcode.png" alt="QRCode">
                    </div>
                </div>
            </article>
    </main>
    <footer> 
        <div class="rodape"> </div>
        <p>CODECRAFTERS©</p>
    </footer>
</body>
</html>