<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <link rel="stylesheet" href="CSS/recsenha.css">
</head>
<body>
    <div class="sistema-grid">
        <!-- Cabeçalho -->
        <header>
            <div class="menu-container">
                <div class="menu-texto">
                <h1>RECUPERAR SENHA</h1>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="HOMEPAGE.html">HOMEPAGE</a></li>
                        <li><a href="#">AGENDAMENTOS</a></li>
                        <li><a href="comunidade1.html">COMUNIDADE</a></li>
                        <li><a href="IMPORTANCIA.html">IMPORTÂNCIA</a></li>
                    </ul>
                </nav>
                <div class="menu-imagens-direita">
                    <img src="media/user.png" alt="Símbolo user">
                </div>
        </header>        

                <!-- Corpo -->
        <main>
            <div class="container">
                <img src="media/logo.png" alt="Logo Code Crafters">
                <h1>Insira seu e-mail para enviarmos sua troca de senha:</h1>
                <br>
                <form method="POST">
                    <input type="email" placeholder="Endereço de e-mail" required>
                    <input type="email" placeholder="Confirme seu e-mail" required>
                    <br>  
                    <button type="submit">ENVIAR</button>
                </form>
                <br>
                <br>
            </div>
        </main>
            </div>

            <!-- Rodapé -->
        <footer>
            <p>CODE CRAFTERS ©</p>
        </footer>
    
    </div>
</body>
</html>