* {
    margin: 0;
    padding: 0;
}

/* Estilo corpo da página */
body {
    font-family: Arial, sans-serif; 
    line-height: 1.7;  
    color:#000000; 
    background-color: #000000; 
}

/* Cabeçalho */
header {
    background: #6b8e4e;
    color:#ffffff;
    padding: 0rem;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #6b8e4e;
    padding: 1rem;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    transition: color 0.3s;
    padding: 0.5rem 0.8rem;
    font-size: 1.0em

}

.menu li a:hover {
    color:#C7E0A9;
}

.menu-imagens-direita {
    display: flex;
    gap: 0.5rem;
}

.menu-imagens-direita img {
    width: 50px; 
    height: auto;
    border-radius: 5px; 
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-grow: 1; 
    margin: 0 1rem;
    position: relative;
    left: 300px;
}

/* Corpo do site */

container {
    display: grid;/* Define um layout em grade */
    grid-template-columns: 2; /* Duas colunas */
    grid-template-rows: 2; /* Duas linhas */
    column-gap: 40px; /* Espaçamento entre colunas */
}

.text-agendamentos h1 {
    margin-top: 100px;
    margin-right: 50px;
    font-family:'Times New Roman', Times, serif; /* Fonte serifada. */
    text-align: right; /* Texto à direita. */
    font-size: 20px; /* Tamanho médio. */
    margin-top: 100px;  /* Espaço superior. */
    color:#ffffff; /* Branco. */
    grid-column: 2; /* Segunda coluna no grid. */
    grid-row: 1; /* Primeira linha no grid. */
}
.text-agendamentos p {
    font-family:Arial, sans-serif; /* Fonte sem serifa. */
    font-size: 20px; /* Tamanho médio. */
    color:#ffffff; /* Branco. */
    text-align: right; /* Alinhado à direita. */
}

.calendario img {
    position:absolute;
    left: 0;
    grid-column: 1;/* Primeira coluna no grid. */
    margin-top: 50px; /* Espaço superior. */
    margin-left: 30px; /* Espaço à esquerda. */
    grid-row: 1; /* Primeira linha no grid. */
    width: 400px; /* Largura fixa. */
}

.button_premiacao {
    background-color: #A8C095;/* Fundo verde claro. */
    color: #6b8e23; /* Texto verde. */
    border: none; /* Sem borda. */
    padding: 10px 20px; /* Espaçamento interno. */
    border-radius: 5px; /* Bordas arredondadas. */
    font-size: 16px; /* Texto médio. */
    width: 108px; /* Largura fixa. */
    height: 20px; /* Altura fixa.*/
    cursor:pointer; /* Cursor clicável. */
    grid-column: 2; /* Segunda coluna no grid. */
    grid-row: 2; /* Segunda linha no grid. */
    position: absolute;
    right: 70px;
    margin-top: 100px;
    
}

.button_premiacao a {
    text-decoration: none; /* Remove sublinhado do link */
    color: #ffffff; /* Texto branco. */
}

.borda_branca  {
    border-top: 30px solid #ffffff; /* Borda superior branca. */
    padding: 158px; /* Espaçamento interno. */
    background-color: rgb(0, 0, 0); /* Fundo preto. */
    border-bottom: 30px solid #ffffff; /* Borda inferior branca. */
    padding: 159px; /* Espaçamento interno. */
    background-color: rgb(0, 0, 0); /* Fundo preto. */
}


/* rodapé */
footer {
    background-color: #6b8e4e;
    color:#ffffff;
    padding: 10px; 
    text-align: left;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border: none;
    margin: 0;
}
