* {
    margin: 0;
    padding: 0;
}

/* Estilo corpo da página */
body {
    font-family: Arial, sans-serif; 
    line-height: 1.7; 
    color:#6b8e4e; 
    background-color: #ffffff; 
    
}
    

/* Cabeçalho */
header {
    background: #6b8e4e;
    color: white;
    padding: 0rem;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #6b8e4e;
    padding: 1rem;
    margin-right: 100px;
}

.menutext h1{
    display: flex;
    gap: 0.5rem;
    font-size: 1em;

}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
    padding: 0.5rem 0.8rem;
    font-size: 1.0em;

}

.menu li a:hover {
    color:#C7E0A9;
}

.menu-imagens-direita {
    display: flex;
    gap: 0.5rem;
}

.menu-imagens-direita img {
    width: 50px; 
    height: auto;
    border-radius: 5px; 
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-grow: 1; 
    margin: 0 1rem;
    position: relative;
    left: 300px;
}

.button_cadastro {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*Corpo do site */

.container {
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.text {
    margin-left: 600px;
    margin-top: 100px;
    grid-column: 2;
    grid-row: 1;
}

.img {
    grid-column: 1;
    margin-top: 50px;
    margin-left: 30px;
    grid-row: 1;
}


.button_leis {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor:pointer;
}

/* rodapé */
footer {
    background-color: #7B9E44;
    color:#ffffff;
    padding: 10px; 
    text-align: left;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border: none;
    margin: 0;
}