* {
    margin: 0;
    padding: 0;
}

/* Estilo corpo da página */
body {
    font-family: Arial, sans-serif; 
    line-height: 1.7; 
    color:#6b8e23; 
    background-color: #ffffff; 
}

/* Cabeçalho */
.header {
    background-color: #6b8e23;
    color: #ffffff; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
button {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.user {
    display: flex;
    gap: 0.5rem;
}

.user {
    width: 50px; 
    height: auto;
    border-radius: 5px; 
}

/*MENU*/
header nav a { 
    color:#ffffff;
    margin: 0 30px;
    text-decoration: none;
    font-weight: bold;
    
}

/* Estilo principal */
main {
    padding: 25px; 
    background-color: #f7f7f7;
display: grid;
grid-template-columns: repeat(2,2fr)
}

button {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* rodapé */
footer {
    background-color: #7B9E44;
    color:#ffffff;
    padding: 10px; 
    text-align: left;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border: none;
    margin: 0;
}



