.actor-regular {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

.logo {
    display: flex;
    justify-content: flex-start;  /* Alinha a logo à esquerda */
    align-items: center;
}

.logo img {
    width: 50px;  
    height: auto;  
}


header {
    background-color: #6b8e4e;;  
    height: 70px;  
    padding: 0 30px;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between;  /* Espaçamento entre logo, botões e usuário */
    align-items: center;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #6b8e4e;
    padding: 1rem;
}


.menu-texto h1{
    display: flex;
    gap: 0.5rem;
    font-size: 1em;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-grow: 1; 
    margin: 0 1rem;
    position: relative;
    left: 300px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
    padding: 0.5rem 0.8rem;
    font-size: 1.0em
}

.menu li a:hover {
    color:#C7E0A9;
}

.menu-imagens-direita {
    display: flex;
    gap: 0.5rem;
}

.menu-imagens-direita img {
    width: 50px; 
    height: auto;
    border-radius: 5px;
}

.container {
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

.container img {
    width: 250px;
}

.container h1 {
    color: #6b8e4e;
}

.container p {
    color:#6b8e4e
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1E7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container_grid {
    display: grid;
    margin: 35px 80px 35px 80px;
    grid-template-columns: 200px 300px 500px;
    grid-template-rows: 70px 70px 70px 70px 70px;
    column-gap: 100px;
    row-gap: 40px;
}

.perfil_img {
    height: 300px;
    width: 300;
    float: left;
    left: 20px;
    grid-column: 1;
    grid-row: 1;
    margin-top: 80px;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #3A6E29;
    grid-row: 1;
    grid-column: 2 / -1;
    margin-left: 100px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #000000;
}

.dados{
    font-family: "Actor", sans-serif;
    font-weight: 20px;
    color: #000000;
    left: 100px;
    grid-row: 4 / -1;
    grid-column: 1;
  }

input{
    border: 1px solid #6f9e6f;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 50px;
}

.input_nome {
    grid-row: 2;
    grid-column: 2 / 3;
    margin-left: 100px;

}

.input_senha {
    grid-row: 4;
    grid-column: 2;
    margin-left: 100px;
}

.input_cpf {
    grid-row: 3;
    grid-column: 2;
    margin-left: 100px;
}


.input_cep {
    grid-row: 3;
    grid-column: 3;
    margin-left: 200px;
}

.input_email {
    grid-row: 4;
    grid-column: 3;
    margin-left: 200px;
}

.botao_salvar {
    background-color: #941616; 
    color: #ffffff; 
    width: 100px; 
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    grid-column: 3; 
    grid-row: 5;
    margin-left: 50px;
    margin-top: 50px;
}

footer {
    background-color: #6b8e4e;
    padding: 10px 20px;
    text-align: left; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0; 
    font-size: 1rem;
    color: white; 
}