/* Reseta as margens e os paddings de todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    line-height: 1.7; /* Espaçamento entre linhas */
    color: #000000; /* Cor do texto em preto */
    background-color: #ffffff; /* Fundo branco */ 
}

/* Cabeçalho */
header {
    background: #6b8e4e;/* Cor de fundo verde */
    color: #ffffff; /* Texto branco */
    padding: 0rem; /* Sem espaçamento interno */
}

.menu-container {
    display: flex;/* Usa flexbox para organizar os itens */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaça os itens igualmente */
    background: #6b8e4e; /* Fundo verde */
    padding: 1rem; /* Espaçamento interno */
}

.menu li a {
    display: flex; /* Organiza os elementos dentro do link como flexbox */
    text-decoration: none; /* Remove sublinhado dos links */
    color: #ffffff; /* Cor branca para o texto */
    font-weight: normal; /* Peso normal da fonte */
    transition: color 0.3s; /* Efeito de transição para mudança de cor */
    padding: 0.5rem 0.8rem; /* Espaçamento interno */
    font-size: 1.0em; /* Tamanho da fonte */
    margin-right: 20px; /* Espaçamento à direita */
    align-items: center; /* Alinha o conteúdo interno ao centro */
}

.menu li a:hover {
    color:#C7E0A9; /* Muda a cor do link ao passar o mouse */
}

.menu-imagens-direita {
    display: flex;/* Usa flexbox */
    align-items: center; /* Centraliza verticalmente as imagens */
    gap: 0.5rem; /* Espaçamento entre as imagens */

}

.menu-imagens-direita img {
    width: 50px; /* Largura fixa */
    height: auto; /* Altura proporcional */
    border-radius: 5px; /* Bordas arredondadas */
}

.menu {
    display:flex; /* Usa flexbox */
    align-items: center; /* Centraliza verticalmente os itens */
    list-style: none; /* Remove marcadores */
    gap: 1rem; /* Espaçamento entre os itens */
    flex-grow: 1; /* Permite que o menu ocupe espaço disponível */
    margin: 0 1rem; /* Margem horizontal */
    position: relative; /* Posicionamento relativo */
    left: 200px; /* Move o menu 200px à direita */

}
.button_cadastro {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 0; /* Remove margin que desalinha */
}


/*Corpo do site */

.container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    column-gap: 40px;
}

.text {
    margin-top: 100px;
    grid-column: 2;
    grid-row: 1;
}

.text h3 {
    font-family:'Times New Roman', Times, serif; 
    font-size: 40px;
    color:#6b8e4e; 
    margin-left: 300px;
    margin-top: 20px;
}

.text p {
    font-family:Arial, sans-serif; 
    font-size: 20px;
    color:#6b8e4e; 
    text-align: left;
}

.img {
    grid-column: 1;
    margin-top: 50px;
    margin-left: 30px;
    grid-row: 1;
    width: 500px;
}


.button_leis {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 35px;
    cursor:pointer;
    grid-column: 2;
    grid-row: 2;
}

/* rodapé */
footer {
    background-color: #7B9E44;
    color:#ffffff;
    padding: 10px; 
    text-align: left;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border: none;
    margin: 0;
}