* {
    margin: 0;
    padding: 0;
}

/* Estilo corpo da página */
body {
    font-family: Arial, sans-serif; 
    line-height: 1.7; 
    color:#000000; 
    background-color: #ffffff; 
}

/* Cabeçalho */
header {
    background: #6b8e4e;
    color:#ffffff;
    padding: 0rem;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #6b8e4e;
    padding: 1rem;
}

.menu li a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    transition: color 0.3s;
    padding: 0.5rem 0.8rem;
    font-size: 1.0em;
    margin-right: 20px; 
    color: white; 
    font-size: 16px;
    align-items: center;
}

.menu li a:hover {
    color:#C7E0A9;
}

.menu-imagens-direita {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu-imagens-direita img {
    width: 50px; 
    height: auto;
    border-radius: 5px;

}

.menu {
    display:flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    flex-grow: 1; 
    margin: 0 1rem;
    position: relative;
    left: 300px;
}
.button_cadastro {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 0; /* Remove margin que desalinha */
}


/*Corpo do site */

.container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    column-gap: 40px;
}

.text {
    margin-top: 100px;
    grid-column: 2;
    grid-row: 1;
}

.text h3 {
    font-family:'Times New Roman', Times, serif; 
    font-size: 40px;
    color:#6b8e4e; 
    margin-left: 300px;
    margin-top: 20px;
}

.text p {
    font-family:Arial, sans-serif; 
    font-size: 20px;
    color:#6b8e4e; 
    text-align: left;
}

.img {
    grid-column: 1;
    margin-top: 50px;
    margin-left: 30px;
    grid-row: 1;
    width: 500px;
}


.button_leis {
    background-color: #A8C095;
    color: #6b8e23;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 35px;
    cursor:pointer;
    grid-column: 2;
    grid-row: 2;
}

/* rodapé */
footer {
    background-color: #7B9E44;
    color:#ffffff;
    padding: 10px; 
    text-align: left;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    border: none;
    margin: 0;
}