.logo img {
    width: 50px;  
    height: auto;  
}

.logo {
    display: flex;
    justify-content: flex-start;  /* Alinha a logo à esquerda */
    align-items: center;
}

header {
    background-color: #6b8e4e;;  
    height: 70px;  
    padding: 0 30px;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between;  /* Espaçamento entre logo, botões e usuário */
    align-items: center;
}


.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #6b8e4e;
    padding: 1rem;
}


.menu-texto h1{
    display: flex;
    gap: 0.5rem;
    font-size: 1em;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-grow: 1; 
    margin: 0 1rem;
    position: relative;
    left: 300px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    transition: color 0.3s;
    padding: 0.5rem 0.8rem;
    font-size: 1.0em

}

.menu li a:hover {
    color:#C7E0A9;
}

.menu-imagens-direita {
    display: flex;
    gap: 0.5rem;
}

.menu-imagens-direita img {
    width: 50px; 
    height: auto;
    border-radius: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1E7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #3A6E29;
    grid-row: 1;
}

.bloco {
    display: grid;
    background-color: #F1F1E7;
    border: 5px solid #1F611D;
    height: auto;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
    grid-template-rows: 100px 50px repeat(3, 120px);
    row-gap: 10px;
    grid-template-columns: 100px repeat(2, 200px) 300px 200px;
    column-gap: 20px;
    position: relative; 
}

.bloco::before {
    content: "";
    position: absolute;
    width: 5px; 
    height: 100%; 
    background-color: #3A6E29;
    top: 0; 
}

.bloco::before {
    left: 50%; 
    transform: translateX(-50%); 
}

.perfil_img {
    height: 100px;
    width: auto;
    float: left;
    left: 20px;
    grid-column: 1;
    grid-row: 1;
}

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    grid-column: 2 / -1;
    grid-row: 1;
    margin-top: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    color: #3D7F48;
    grid-column: 1 / 2;
    grid-row: 2; 
}

.relogio{
    grid-column: 1;
    grid-row: 3;
    margin-top: 80px;
    margin-left: 75px;
}

.coluna1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    grid-column: 2;
    grid-row: 3;
}

.coluna2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    grid-column: 3;
    grid-row: 3;
    margin-left: 80px;
}

h4 { 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 40px; 
    color: #3D7F48; 
    grid-column: 4 / -1; 
    grid-row: 1; 
    margin-left: 100px;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #941616;
    margin-left: 100px;
}

.coluna3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    grid-column: 4;
    grid-row: 2 / -1;
    margin-left: 100px;
}

.qrcode1 {
    grid-column: 5;
    grid-row: 3;
    margin-left: 100px;
}

.qrcode2 {
    grid-column: 5;
    grid-row: 5;
    margin-left: 100px;
}

footer {
    background-color: #6b8e4e;
    padding: 10px 20px;
    text-align: left; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0; 
    font-size: 1rem;
    color: white; 
}